---
import BackButton from "./back-button.astro";
import TableOfContents from "./table-of-contents.astro";
import { prettyDate } from "../../libs/parsers";

export interface Props {
    entry: Post;
    headings: Heading[];
}

const { entry, headings } = Astro.props;
const { title } = entry.data;
const { updatedAt, createdAt } = entry.data;
const date = prettyDate(createdAt);
const minutes = Math.ceil(entry.body.split(" ").length / 200);
const readingTime = minutes > 1 ? `${minutes} minutos` : "1 minuto";
const isUpdated = updatedAt.getTime() !== createdAt.getTime();
const updatedDate = prettyDate(updatedAt);
---

<article>
    <BackButton />
    <header>
        <h1>{title}</h1>
        <div class="meta">
            <div class="info">
                <span>{date}</span>
                <span> / </span>
                <span>{readingTime}</span>
            </div>
            {
                isUpdated && (
                    <time datetime={updatedAt.toDateString()}>
                        Ultima actualización: {updatedDate}
                    </time>
                )
            }
        </div>
    </header>
    <slot />
</article>
<TableOfContents headings={headings} />

<style>
    h1 {
        font-size: 2em;
        font-weight: 600;
        text-wrap: initial;
    }
    article {
        display: grid;
        gap: 1em;
        margin-top: 4em;
    }
    :global(h1, h2, h3, h4, h5, h6) {
        scroll-margin-top: 3em;
    }
    h1 {
        margin-top: 3em;
    }
    .meta {
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .info {
        color: var(--foreground-color-paragraph);
    }
    .meta {
        display: grid;
        gap: 1em;
        grid-auto-flow: column;
        align-items: center;
        justify-content: flex-start;
    }
</style>
